html {
  scroll-behavior: smooth; /* ทำให้การเลื่อนไปยัง ID ต่างๆ นุ่มนวลขึ้น */
}
@import "tailwindcss";

:root {
  --background: #F5F5F7; /* สีเทาอ่อนแบบ Apple Style */
  --foreground: #121212; /* สีดำด้าน */
  --pt-red: #E60000;    /* แดงพรรคเพื่อไทย */
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar ให้เป็นสีแดง */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #E60000; border-radius: 10px; }

@layer utilities {
  .will-change-transform-opacity {
    will-change: transform, opacity;
  }
}